* {
  font-family: "Lato", sans-serif;
}
.bg {
  height: 6px;
  width: 100%;
  z-index: 1;
  position: fixed;
  top: 0;
}
.navbar {
  z-index: 1;
  height: 54px;
  padding-left: 22vw;

  background-color: rgba(26, 26, 26, 0.9);
  position: fixed;
  width: 100%;
  top: 4px;
  box-shadow: 0px 2px 7px;
}
.brand-logo {
  height: 34px;
  background-color: white;
  border-radius: 4px;
}
body {
  background-color: #d8d8d8;
}
li a {
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 30px;
}
i {
  color: white;
}
.container {
  margin-top: 70px;
  padding-left: 100px;
  padding-right: 100px;
}
.container i {
  color: rgb(24, 23, 23);
}

.games .card-text {
  height: 60px;
}

.games .card-img-top {
  height: 150px;
}
.img-featured {
  height: 100%;
  width: 100%;
}
@media (max-width: 990px) {
  .navbar {
    padding: 0;
    margin: 0;
  }
  #last-buttons {
    padding-left: 25px;
  }
  .navbar-collapse {
    margin-top: 9px;
    background-color: rgba(26, 26, 26, 0.9);
    width: 100vw !important;
  }
  .first-carousel {
    display: none !important;
  }
  .img-featured-section {
    display: none !important;
  }
}
/* carousel */
.carousel-box {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.glide__slide img {
  width: 100%;
  height: 400px;
  width: 500px;
}
.glide__slide img:hover {
  width: 100%;
  height: 400px;
  width: 500px;
  transform: scale(1.01);
}
.glide__slide {
  opacity: 0.5;
  transition: 0.25s ease;
}
.glide__slide:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
.glide__slide--active {
  z-index: 3;
  transition: 0.25s ease;
  filter: none;
  opacity: 1;
  transform: scale(1.05);
}
@media (max-width: 1464px) {
  .glide__slide img {
    width: 100%;
    height: 350px;
    width: 400px;
  }
}
@media (max-width: 1170px) {
  .glide__slide img {
    width: 100%;
    height: 250px;
    width: 350px;
  }
}
@media (max-width: 876px) {
  .glide__slide img {
    width: 100%;
    height: 250px;
    width: 280px;
  }
}
@media (max-width: 807px) {
  .glide__slide img {
    width: 100%;
    height: 150px;
    width: 200px;
  }
}
@media (max-width: 588px) {
  .glide__slide img {
    width: 100%;
    height: 80px;
    width: 140px;
  }
}
/* end of carousel */
.games {
  display: flex;
}
.description-gog {
  font-size: 12px;
  margin-top: -50px;
}
.text-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-text-section {
  padding-top: 13px;
  font-weight: 600;
  margin-left: 7px;
}
.col-4 {
  display: flex;
  flex-direction: row !important;
}
.gog-violet {
  margin-left: 60px;
  margin-top: -77px;
  font-size: 15px !important;
  color: #86328a;
}
.gog-circle {
  margin-top: -110px;
}
.cardbox {
  display: flex;
  flex-direction: column;
}
#buttonToChange {
  margin-bottom: -200px;
  background-color: #86328a !important;
}

#raccomanded-list {
  background-color: #d8d8d8 !important;
  display: flex;
  justify-content: space-between;
}
#raccomanded-list:hover {
  background-color: #ffffff !important;
  box-shadow: 1px 1px 20px 0px;
}
.img-featured {
  transition: 0.25s ease;
  cursor: pointer;
}
.img-featured:hover {
  opacity: 0.8;
}
.card-body {
  background-color: #ececec !important;
  box-shadow: -1px 1px 9px 0px;
}
.card-img-top {
  border-radius: 0 !important;
  box-shadow: -1px 1px 9px 0px;
}
#container-footer1 {
  height: 65px;
  background-color: #262626;
}
#container-footer2 {
  height: 100px;
  background-color: #2f2f2f;
}
#container-footer3 {
  height: 100px;
  background-color: #262626;
}
.fbg {
  position: static;
  width: 100%;
}
